$loaderWidth: 30vw;

.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: $loaderWidth;
    height: 5px;
    background-color: var(--blue);
    animation: move 1s infinite .4s, fadeIn .4s ease .4s 1 forwards;
    transform-origin: 0 50% 0;
    will-change: transform;
    opacity: 0;
    z-index: 1;
}

@keyframes move {
    from {
        transform: translateX(-$loaderWidth);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
