{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "typescript": "<root>/tsconfig.json"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "curly": ["error", "all"],
    "function-paren-newline": ["error", "multiline"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "import/extensions": [
      "error",
      "always",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxEOF": 1
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-use-before-define": "off",
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "block-like",
          "const",
          "let"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let"
        ],
        "next": [
          "const",
          "let"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      },
      {
        "blankLine": "never",
        "prev": "case",
        "next": [
          "case",
          "default"
        ]
      }
    ],
    "semi": ["error", "never"],
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": true,
      "requireReturnDescription": false,
      "requireParamType": true,
      "requireParamDescription": false,
      "prefer": {
        "return": "returns"
      },
      "preferType": {
        "Null": "null",
        "Undefined": "undefined",
        "Number": "number",
        "Boolean": "boolean",
        "String": "string",
        "array": "Array",
        "object": "Object"
      }
    }],
    "react/forbid-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".jsx",
        ".tsx"
      ]
    }],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "jsx-a11y/no-autofocus": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline",
      "enums": "always-multiline",
      "generics": "always-multiline",
      "tuples": "always-multiline"
    }],
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/prefer-interface": 0,
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-function-return-type": ["error", {
      "allowExpressions": true,
      "allowHigherOrderFunctions": true
    }],
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none"
      }
    }],
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0
  },
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
