.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.link {
    display: inline-block;
}

.link,
.button {
    padding: .75em 1em;
}

.button {
    align-items: center;
    background-color: transparent;
    border-width: 0;
    color: var(--blue);
    display: inline-grid;
    grid-column-gap: .5em;
    grid-template-columns: 1fr auto;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
