.list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    animation-duration: .4s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    align-items: center;
    max-width: calc(1400px - 1.5em);
    min-height: 2.5em;
    margin-right: auto;
    margin-left: auto;
    color: var(--white);
}

.success {
    background-color: var(--green);
}

.success + .success {
    border-top: 1px solid var(--green-dark);
}

.error {
    background-color: var(--red);
}

.error + .error {
    border-top: 1px solid var(--red-dark);
}

.warning {
    background-color: var(--orange);
}

.warning + .warning {
    border-top: 1px solid var(--orange-dark);
}

.button {
    width: 2.5em;
    height: 2.5em;
    color: white;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    transition: background-color .2s;
}

.button:hover {
    background-color: rgba(var(--white), .2);
}
