.list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: .4s;
}

.container {
    display: flex;
    align-items: center;
    max-width: calc(1400px - 1.5em);
    min-height: 2.5em;
    margin-right: auto;
    margin-left: auto;
    color: var(--white);
}

.listItem + .listItem {
    border-top: 1px solid var(--black);
}

.success {
    background-color: var(--green);
}

.error {
    background-color: var(--red);
}

.warning {
    background-color: var(--orange);
}

.button {
    width: 2.5em;
    height: 2.5em;
    color: white;
    transition: background-color .2s;

}

.button:hover {
    background-color: rgba(var(--white), .2);
}
