.controlsList {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.editBtn,
.deleteBtn {
    align-items: center;
    color: inherit;
    display: inline-flex;
    padding: 1em;
    transition: background-color .2s, color .2s;
}

.editBtn {
    text-decoration: none;

    &:visited,
    &:active {
        color: inherit;
    }

    &:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}

.deleteBtn {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    height: auto;

    &:hover {
        background-color: var(--red);
        color: var(--white);
    }
}
