:root {
    --red: #cb4335;
    --green: #52be80;
}

input,
label,
table {
    width: 100%;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
    border-width: 0 0 1px;
    border-radius: 0;
}

label {
    display: inline-block;
}

label > span + input {
    margin-top: .5em;
}

label > span {
    font-weight: bold;
}

label + button,
label + label {
    margin-top: 1em;
}

caption {
    text-align: left;
}

:global {
    .no-list-style {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    .no-button-style {
        padding: 0;
        border-width: 0;
        background-color: transparent;
    }

    .fade-in {
        opacity: 0;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
