:root {
    --white: #f9f9f9;
    --red: #cb4335;
    --red-dark: #b73b2f;
    --green: #52be80;
    --green-dark: #42b172;
    --orange: #fc642d;
    --orange-dark: #fb4e0f;
    --lightgray: #e9e9e9;
}

body {
    margin: 0;
}

input,
label,
table {
    width: 100%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 99vh;
    color: white;
    padding-left: 1.25em;
    padding-right: 1.25em;

    &:hover {
        border-color: var(--green-dark);
    }

    &:focus {
        border-color: var(--green-dark);
    }
}

label {
    display: inline-block;
}

label > span + input {
    margin-top: .5em;
}

label > span {
    font-weight: bold;
}

label + label {
    margin-top: 1em;
}

table {
    table-layout: fixed;
}

caption {
    text-align: left;
}

th {
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    position: sticky;
    top: 0;
}
