:root {
    --white: #fff;
    --red: #cb4335;
    --red-dark: #b73b2f;
    --green: #52be80;
    --green-dark: #42b172;
    --orange: #fc642d;
    --orange-dark: #fb4e0f;
}

body {
    margin: 0;
}

input,
label,
table {
    width: 100%;
}

label {
    display: inline-block;
}

label > span + input {
    margin-top: .5em;
}

label > span {
    font-weight: bold;
}

label + button,
label + label {
    margin-top: 1em;
}

table {
    table-layout: fixed;
}

caption {
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
}
